/* 리스트 내 아이템들에 대한 속성 */
.TodoItem {
  display: flex;
  gap: 20px;
  border-bottom: 1px solid rgb(240, 240, 240);
  padding-bottom: 20px;
  align-items: center;
}

/* 체크박스 속성 */
.TodoItem input {
  width: 20px;
}

/* Todo 내용 */
.TodoItem .content {
  flex: 1;
}

.TodoItem .date {
  font-size: 14px;
  color: grey;
}

.TodoItem button {
  cursor: pointer;
  color: gray;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
